body {
	background-color: #1b1b1b;
}
p{
	color: white;
	text-align: justify;
	margin: 30px;
}
h1 {
	text-align: center;
	color: white;
	margin: 30px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: right;
	font-family: Tahoma;
	font-size: 20px;
}
li a {
	color: white;
	display: block;
	text-align: center;
	padding: 30px 40px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #969696;
}
.active {
	font-weight: 600;
}
.carta {
	border-radius: 15px;
	height: 350px;
	width: 250px;
	background-color: white;
	float: left;
	margin: 0 auto;
	
}
.container {
  display: flex;
  justify-content: center;
}